body{
    margin:0;

}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
.fade {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
    
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}



#explore{
     visibility: none;
    z-index:1;
    position: absolute;
    top:50vh;
    right:10vw;
    width:270px;
    color:rgb(255,160,130);
}

.button{
    height:50px;
    width: 135px;
    background-color:rgb(230,50,20);
    color:rgb(255,160,130);
    font-size:2.5em;
    font-family: 'akzidenz-grotesk_bqmedium';
    padding: 10px 10px 10px 15px;
}
a{
    text-decoration: none;
}

